body {
	font-family: "Times New Roman";
}
h1 {
	font-size: 80px;
	font-family: "impact";
}
button {
	padding: 30px 90px !important;
	/*transition: background-color 1s !important;*/
}
button:hover {
	background-color: green !important;
}
